
.productsList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 16px;
  box-sizing: border-box;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.pageSwitcher{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;

  .pages{
    // width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--border-color);

    .activePage{
      color: var(--text-color);
    }
  }

  button{
    width: 25px;
    height: 30px;
    border: none;
    font-size: 20px;
    background-color: #ffffff00;
    padding: 0;
    display: grid;
    place-items: center;
    color: var(--text-color);

    .disabledIcon{
      color: var(--border-color);
    }

  }
}