.navbar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--plain-color);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 20px;

  .title_container{

    display: flex;
    align-items: center;

    a{
      color: var(--text-color);
      text-decoration: none;
      justify-self: flex-start;

      h1{
        margin: 0;
      }

    }

  }

  .navFilters{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    @media (max-width: 900px) {
      display: none;
    }

    li{
      padding: 0;

      button{
        border: none;
        border-bottom: 4px solid transparent;
        height: 40px;
        padding: 4px 15px 0;
        font-size: 22px;
        background-color: transparent;
        color: var(--text-color);

        &:hover{
          border-color: var(--text-color);
        }
      }
    }
  }

  .inputWrapper{
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 500px) {
      display: none;
    }

    .searchInput{
      width: 175px;
      height: 30px;
      border: 1px solid var(--plain-color);
      border-radius: 8px;
      padding-left: 35px;
      font-size: 16px;
      background-color: var(--secondary-color);
      color: var(--text-color);

      &:focus{
        outline: none;
        border: 1px solid var(--text-color);
      }
    }
  }

  .userInfo{
    display: flex;
    gap: 5px;

    @media (max-width: 600px) {
      .secondary{
        display: none;
      }
    }

    button{
      width: 35px;
      height: 35px;
      border-radius: 8px;
      border: none;
      padding: 7px;
      background-color: var(--secondary-color);
      transition: .150s;
      color: var(--text-color);

      &:hover{ 
        background-color: var(--hover-color);
      }
    }
  }
}